{% extends "hospital/base.html" %} {% block content %}
{% comment %} <div class='container'> {% endcomment %}
<form class="row g-3" method="POST">
  {% csrf_token %}  
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">First Name</label>
    {{ form.first_name }}
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Last Name</label>
    {{ form.last_name }}
  </div>
  <div class="mb-3">
    <label for="formFile" class="form-label">Profile Picture</label>
    {{ form.profile_photo }}
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Username</label>
    {{ form.username }}
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Email Address</label>
    {{ form.email }}
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Password</label>
    {{ form.password1 }}
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Confirm Password</label>
    {{ form.password2 }}
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    {{ form.address_line1 }}
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    {{ form.city }}
  </div>
  <div class="col-md-4">
    <label for="inputCity" class="form-label">State</label>
    {{ form.state }}
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">PinCode</label>
    {{ form.pincode }}
  </div>
  <div class="col-12" align="center">
    <button type="submit" class="btn btn-primary">Register</button>
  </div>
</form>
  <p><p class="SignIn" align="center">
    Already Have an Account? <a href="{% url "login" %}">Login</a>
  </p></p>
{% comment %} </div> {% endcomment %}
  {% endblock content %}
